{% extends 'base.html' %}
{% block title %}{{request.user.username}}'s profile{% endblock %}

{% block content %}
Edit your profile
Welcome {{profile.user.username|title}} <br>
Fullname: {{ profile.user.first_name|title }} {{ profile.user.last_name|title }} <br>
Email: {{ profile.user.email }} <br>
Phone: {{ profile.phone_number }} <br>
Address: {{ profile.address }} <br>

<form method="post">
    {% csrf_token %}
    {{ userform.as_p }}
    {{ profileform.as_p }}
    <input type="submit" value="Save" name="submit">
</form>
{% endblock %}
