<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .container{
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        #id_username,
        #id_password{
            padding: 15px;
            border-radius: 5px;
        }

    </style>
</head>
<body>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>